* {
  font-family: Roboto;
  font-weight: 300;
}
#content {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
}

header {
  background-color: #3F51B5;
  padding: 25px;
  margin-bottom: 30px;
}

header h1 {
  margin-left: 23%;
  color: #fff;
  font-weight: 200;
  font-size: 200%;
  position: relative;
}

#menu {
  margin-left: 15px;
}

#menu li{
  margin-left: 5%;
  display: inline;
}

#menu li a{
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menu li a:hover{
  color: #c5cae9;
}

header img{
  position: relative;
  float: right;
  right: 10%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

article {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  padding: 2%;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
}

article h2{
  font-weight: 500;
}


article h3{
  font-weight: 400;
}

#social li a{
  text-decoration: none;
  color: #303f9f;
}

#social li a:hover{
  text-decoration: underline;
  color: #212121;
}

#img-gallery #section {
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  margin-right: 4%;
  margin-bottom: 4%;
}

#img-gallery #section p {
  font-weight: 400;
}

#img-gallery #section img{
  width: 50ex;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 5%;
}