/* General */
* {
  font-family: Roboto;
  font-weight: regular;
}

#content {
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

/* Header */
header {
  background-color: #3F51B5;
  margin-bottom: 30px;
  padding: 25px;
}

header h1 {
  color: #fff;
  font-weight: 200;
  font-size: 200%;
  margin-left: 23%;
  position: relative;
}

header img{
  border-radius: 50%;
  float: right;
  height: 150px;
  position: relative;
  right: 10%;
  width: 150px;
}

/* Menu navigation bar */
#menu {
  margin-left: 15px;
}

#menu li{
  display: inline;
  margin-left: 5%;
}

#menu li a{
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

#menu li a:hover{
  color: #c5cae9;
}

/* Article section */
article {
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  line-height: 1.5;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  padding: 2%;
}

article h2{
  font-weight: 500;
}


article h3{
  font-weight: 400;
}

#social li a{
  color: #303f9f;
  text-decoration: none;
}

#social li a:hover{
  color: #212121;
  text-decoration: underline;
}

/* Image Gallery */
#img-gallery #section {
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  display: inline-block;
  margin-right: 4%;
  margin-bottom: 4%;
  text-align: center;
}

#img-gallery #section p {
  font-weight: 400;
}

#img-gallery #section img {
  border-radius: 5%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 50ex;
}

.button {
  background-color: #303f9f;
  border-radius: 5%;
  color: white;
  font-weight: 500;
  height: 40px;
  padding: 10px;
}

.button:hover {
  background-color: #c5cae9;
  color: black;
}

/* Comments section */
#comments .text{
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  display: block;
  margin-bottom: 10px;
  padding: 16px 20px;
  width: 80%;
}

#comment-container {
  max-height: 500px;
  overflow-y: scroll;
  
}

#comment-container h2 {
  display: block;
}

.comment {
  width: 25%;
  max-height: 200px;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
}

.comment h3 {
  display: inline-block;
  margin: 0;
}

.comment .message {
  max-height: 80px;
  min-height: 80px;
  
  overflow-y: scroll;
}

.comment .date {
  background-color: #3f51b5;
  border-radius: 10px;
  color: white;
  display: inline;
  font-size: small;
  font-weight: 700;
  padding: 5px;
  margin-right: 10px;

}

.comment .sentiment {
  border-radius: 10px;
  color: white;
  display: inline;
  font-size: small;
  font-weight: 700;
  padding: 5px;
}

.happy {
  background-color: #3fb553;
}

.angry {
  background-color: #b53f4f;
}

.neutral {
  background-color: #707281;
}

.comment .trash-icon {
  float: right;
  margin-right: 5%;
  color: #e64a19;
}

.comment .trash-icon:hover {
  color: black;
  cursor: pointer;
}

.comment .votes {
  float: right;
  background-color: #3e464c;
  border-radius: 10px;
  padding: 3px;
}

.comment .votes p{
  color: white;
  display: inline-block;
  margin: 0px 5px 0px 5px;
}

.up {
  color: #689f38;
}

.down {
  color: #e64a19;
}

.icon:hover {
  color: #3F51B5;
  cursor: pointer;
}

.icon {
  margin: 0px 3px 0px 3px;
}

/* Form for retrieve selected number of comments*/
.number-comments {
  margin-bottom: 30px;
  margin-top: 30px;
}

.number-input{
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  height: 40px;
  font-weight: 600;
  padding: 0px 0px 0px 20px;
  width: 5%;
}

.select-input {
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  height: 40px;
  font-weight: 600;
  padding: 0px 0px 0px 20px;
  width: 30%;
}

.text-input{
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  display: block;
  margin-bottom: 10px;
  padding: 16px 20px;
  width: 80%;
}

#user-container {
  margin: 0 10% 30px;
}

#user-container p {
  display: inline;
  margin-bottom: 10px;
  margin-right: 100px;
}
